In [1]:
# Import the MayStreet Data Python library - this is already provided for you inside Workbench.
import maystreet_data

# Run an example query against the MayStreet Data Lake. This will return 100 "add" orders regardless of feed or product.
records_iter = maystreet_data.query(
    maystreet_data.DataSource.DATA_LAKE,
    f"""
    select feed,
        "d",
        price,
        product
    from "prod_lake.p_mst_data_lake".mt_add_order
    limit 100
""",
)

# Import the well known Python Pandas library (https://pandas.pydata.org)
import pandas as pd

# Create a Pandas Data Frame from the iterator; an iterator will return one row at a time but we'd like
# to see them all.
data = pd.DataFrame(records_iter)

# Display the data in the Jupyter output cell.
data

     feed   d  price product
0   XDPV2  10  17.90    AAMC
1   XDPV2  10  30.78     AGQ
2   XDPV2  10  30.79     AGQ
3   XDPV2  10  30.80     AGQ
4   XDPV2  10  30.77     AGQ
..    ...  ..    ...     ...
95  XDPV2  10   1.75     AIM
96  XDPV2  10   3.49     AIM
97  XDPV2  10   1.98     AIM
98  XDPV2  10   2.02     AIM
99  XDPV2  10   3.42     AIM

[100 rows x 4 columns]