In [12]:
# Import the MayStreet Data Python library - this is already provided for you inside Workbench.
import maystreet_data

# Run an example query against the MayStreet Data Lake. This will return 100 "add" orders regardless of feed or product.
records_iter = maystreet_data.query(
    maystreet_data.DataSource.DATA_LAKE,
    f"""
    select feed,
        "day",
        price,
        product
    from "prod_lake.p_mst_data_lake".mt_add_order
    limit 100
""",
)

# Import the well known Python Pandas library (https://pandas.pydata.org)
import pandas as pd

# Create a Pandas Data Frame from the iterator; an iterator will return one row at a time but we'd like
# to see them all.
data = pd.DataFrame(records_iter)

# Display the data in the Jupyter output cell.
data

     feed day    price product
0   XDPV2  24   226.80     ALB
1   XDPV2  24   220.10     ALB
2   XDPV2  24    48.02      AA
3   XDPV2  24    15.82    AEHR
4   XDPV2  24    16.00    AEHR
5   XDPV2  24    16.50    AEHR
6   XDPV2  24    16.50    AEHR
7   XDPV2  24    16.25    AEHR
8   XDPV2  24    17.00    AEHR
9   XDPV2  24    18.00    AEHR
10  XDPV2  24    15.00    AEHR
11  XDPV2  24    14.75    AEHR
12  XDPV2  24    14.50    AEHR
13  XDPV2  24     2.39     AGE
14  XDPV2  24  3402.17    AMZN
15  XDPV2  24  3175.00    AMZN
16  XDPV2  24  3396.30    AMZN
17  XDPV2  24  3397.00    AMZN
18  XDPV2  24  3404.70    AMZN
19  XDPV2  24   105.05     AMD
20  XDPV2  24   105.00     AMD
21  XDPV2  24   105.20     AMD
22  XDPV2  24    19.10     AAL
23  XDPV2  24   173.00    ABNB
24  XDPV2  24   178.00    ABNB
25  XDPV2  24   173.38    ABNB
26  XDPV2  24   174.00    ABNB
27  XDPV2  24     6.10     AMS
28  XDPV2  24   141.70    AAPL
29  XDPV2  24   144.00    AAPL
30  XDPV2  24   141.70    AAPL
31  XDPV2  24   145.89    AAPL
32  XDPV2  24   146.10    AAPL
33  XDPV2  24   145.95    AAPL